<link rel="stylesheet" href="/static/core/css/style.css">
<div class="container">
<h2>Student Form</h2>
<form method="post">
{% csrf_token %}
<input name="name" value="{{student.name}}" placeholder="Name"><br><br>
<input name="email" value="{{student.email}}" placeholder="Email"><br><br>
<input name="course" value="{{student.course}}" placeholder="Course"><br><br>
<input name="fees" value="{{student.fees}}" placeholder="Fees"><br><br>
<label><input type="checkbox" name="is_paid" {% if student.is_paid %}checked{% endif %}> Fees Paid</label><br><br>
<button>Save</button>
</form>
</div>
